

/* ************** TAG STYLE ************** */

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  margin-top: 80px;
  margin-bottom: 100px;
}

h1, h2 {
  font-weight: normal;
  text-align: center;
  letter-spacing: 2px;
}

hr  {
  height:0;
  border: none;
  border-top: 1px solid black;
  background-color: white;
}

img {
  width:auto;
  height: 100px;
  display: block;
  margin: auto;
}

/* ************** CLASS STYLE ************** */
.projects_item a {
  display:flex;
  flex-direction: row;
  align-items:center;
  text-decoration:none;
  color:black;
}

.projects_item p {
  text-align: left;
}

.icon {
  display: inline-block;
  height:50px;
  padding: 0px;
  margin:0 10px;
}

.material-icons-outlined.md-36 { font-size: 36px; margin:10px; }
.material-icons-outlined.md-36.white { color: white;}


.logo {
  max-width: 100%;
  height: auto;
  max-height: 80px;
  margin: auto;
  filter: grayscale(100%);
  transition: 0.3s;
}

.logo:hover {filter:none;}


a .small_logo {
  max-width: 100%;
  height: auto;
  max-height: 50px;
  margin: auto;
}


/* ************** ID STYLE ************** */

.subtitle {
  color: gray;
  margin-bottom: 10vh;
}

#master_container {
  width: 60%;
  margin:40px auto auto auto;
}

#sub_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#projects {
  width:45%;
  margin-right:20px;
}

#tech_stack {
  width:45%;
  margin-left:20px;
}

#projects_grid {
    margin-top:30px;
    display: grid;
    grid-template-columns:auto ;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    font-size: 20px;
    justify-content: center;
}
#tech_stack_grid {
    margin-top:30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    max-width: 100%;
    height: auto;
    justify-content: space-around;
}


#bottom_bar {
 background-color:black;
 margin: 0px;
 width: 100%;
 height: 60px;
 position: fixed;
 bottom: 0;
 right: 0;
 display:flex;
 flex-direction:row;
}

#bottom_bar a {
  margin: auto;
  display:flex;
  flex-direction:row;
  text-decoration: none;
}

/* ************** MEDIA QUERIES ************** */

@media only screen and (max-width: 900px) {
  #sub_container {
    display: flex;
    flex-direction: column;
  }
  #projects, #tech_stack {
    margin:0;
    width: 100%;
  }
  .icon {
  display: block;
  height:50px;
  }
  #projects_grid {
    margin-top:30px;
    display: grid;
    grid-template-columns:auto;
    grid-row-gap: 20px;
    font-size: 18px;
    text-align: right;
    justify-content: space-around;
  }

}


/* ***********************************|| FULLSTACK.HTML || *******************************/


.horizontal_panel {
  background-color: #ddd;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 15px;
}
.panel_text {
  display: flex;
  flex-direction: column;
}

.panel_text a {
  text-decoration: none;
  color:gray;
  margin-right: 20px;
}

.external_links {
  display: flex;
  flex-direction: row;
  
}
.inline-icon {
  vertical-align: -6px;
  margin-right: 5px;
}

.screenshot {
  height: 20vmin;
  width: auto;
  margin-right: 15px;
  border-bottom: black solid 2px;
}

h4 {
  margin: 5px 0;
}

@media only screen and (max-width: 900px) {
  .horizontal_panel {
    flex-direction: column;
  }
  .screenshot {
    height: 20vmin;
    width: auto;
    border-bottom: black solid 2px;
    margin:auto;
    margin-bottom: 15px;
  }
  
}